@import url("./styles/variables.css");

/* ReactModal Overlay */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ReactModal Content */
.ReactModal__Content {
  position: relative;
  background: var(--background-color);
  padding: 20px;
  border-radius: var(--border-radius);
  width: 80%; /* Adjust this to take up more/less of the viewport */
  height: 80%; /* Adjust this to take up more/less of the viewport */
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* Ensure content is scrollable if it overflows */
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
}

form input[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-duration) ease;
}

form input[type="submit"]:hover {
  background-color: var(--secondary-color);
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.success-message {
  text-align: center;
}

.success-message p {
  font-size: var(--font-size-large);
  color: var(--success-color);
}

.error {
  color: var(--error-color);
  font-size: var(--font-size-small);
}

.success {
  color: var(--success-color);
  font-size: var(--font-size-small);
}

.contact-button {
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: inherit;
  text-decoration: underline;
  padding: 0;
}

.contact-button:hover {
  color: var(--secondary-color);
}

.form-group {
  margin: auto;
}

.form-group input,
.form-group textarea {
  width: 70vw;
}

.form-button {
  margin: auto;
}

.form-button button.submit {
  background-color: var(--primary-color);
}

/* Testimonials Section */
#testimonials {
  padding: 50px 0;
}

#testimonials .text-container {
  text-align: center;
}

.testimonial-item {
  padding: 30px;
  background: #fff;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

.testimonial-item blockquote {
  font-size: 18px;
  padding: 0;
  color: #333;
  margin: auto;
  position: relative;
  padding: 20px;
}

#testimonials blockquote p {
  font-family: "opensans-regular";
  padding: 0;
  font-size: 14px;
  line-height: 28px;
  color: #333;
}

.testimonial-item blockquote:before {
  content: "\201C";
  font-size: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
  color: var(--primary-color);
}

.testimonial-item cite {
  display: block;
  font-family: "opensans-regular";
  font-size: 18px;
  line-height: 18px;
  color: #333;
  margin-top: 10px;
}
